<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="..//favicon.ico">
    <link rel="apple-touch-icon" href="..//apple-touch-icon.png">
    <meta name="descripsion" content="プログラミングを学ぶなら、Codera。">
    <link rel="stylesheet" href="..//css/normalize.css" />
    <link rel="stylesheet" href="..//css/style.css" />
    <title>Default</title>
  </head>
  <body>
    <!-- headerここから -->
    <header class="header">
      <div class="container header-container">
        <div class="header__inner">
          <h1 class="header__logo">
            <a href="index.html"><img src="..//img/logo.png" srcset="../img/logo.png 1x, img/logo@2x.png 2x" alt="Codera"></a>
          </h1>
          <button class="menu-btn" id="mobile-menu"></button>
        </div>
      </div>
    </header><!-- headerここまで -->

    <!-- navbarここから -->
    <nav class="nav">
      <div class="container nav-container">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="../index.html">ホーム</a></li>
          <li class="nav__item"><a class="nav__link" href="../course/index.html">コース紹介</a></li>
          <li class="nav__item"><a class="nav__link" href="../qanda/index.html">よくある質問</a></li>
          <li class="nav__item"><a class="nav__link" href="../contact/index.html">お申し込み</a></li>
        </ul>
      </div>
    </nav><!-- navbarここまで -->

    <!-- mainここから -->
    <section class="main">
      <div class="container">
        <main>

        </main>
      </div>
    </section><!-- mainここまで -->

    <!-- footerここから -->
    <footer class="footer">
      <div class="container footer-container">
        <ul class="footer__nav">
          <li><a href="../course/index.html">コース紹介</a></li>
          <li><a href="../qanda/index.html">よくある質問</a></li>
          <li><a href="../contact/index.html">お申し込み</a></li>
        </ul>
        <p class="footerCopyright">&copy; codera</p>
      </div>
    </footer><!-- footerここまで -->

    <script src="..//js/script.js"></script>
  </body>
</html>
